@import "tailwindcss";

@theme {
  --font-jakarta: var(--font-jakarta);
  --font-inter: var(--font-inter);

  --color-ai-gold: #A68048;
  --color-ai-bg: #e6e5e1;
  --color-ai-text: #5A554E;
}

.hover-underline-animation {
  position: relative;
  width: fit-content;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 300ms ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}